@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="filters">
    <input/>
</div>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Meta Critic</th>
                <th>İndirimli Fiyat</th>
                <th>Normal Fiyat</th>
                <th>Kazanç</th>
                <th>Steam Beğenilme Oranı</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var game in Model.Games)
            {
                <tr>
                    <td>
                        <img src="@game.Thumb" width="150" height="100" class="object-fit-contain" />
                    </td>
                    <td>@game.Title</td>
                    @if (game.MetacriticLink != null)
                    {
                        var score = int.Parse(game.MetacriticScore);
                        var bgClass = "";
                        if (score >= 75)
                        {
                            bgClass = "bg-success";
                        }
                        else if (score >= 50)
                        {
                            bgClass = "bg-warning";
                        }
                        else
                        {
                            bgClass = "bg-danger";
                        }
                        <td class="@bgClass text-center">
                            <a href="@game.MetacriticLink" class="link-light link-underline-opacity-0">
                                @score
                            </a>
                        </td>

                    }
                    else
                    {
                        <td></td>
                    }
                    <td>
                        @game.SalePrice
                    </td>
                    <td>
                        @game.NormalPrice
                    </td>
                    <td>
                        @game.Savings
                    </td>
                    <td>
                        @game.SteamRatingPercent
                    </td>
                </tr>
            }
        </tbody>
        <tfoot></tfoot>
    </table>
</div>
